PLATFORM_ENV=local
KUBE_NAMESPACE=dev
INGRESS_URL=http://127.0.0.1/
ARGOCD_URL=http://127.0.0.1:8085
VAULT_URL=http://127.0.0.1:8205
GRAFANA_URL=http://127.0.0.1:3000
PROMETHEUS_URL=http://127.0.0.1:9090
LOKI_URL=http://127.0.0.1:3100
TEMPO_URL=http://127.0.0.1:3200
DEPLOYMENT_POC_ROOT=../deployment-poc
LENINKART_INFRA_ROOT=../leninkart-infra
DEPLOYMENT_POC_REPO=Leninfitfreak/deployment-poc
DEPLOYMENT_POC_GITOPS_REPO=Leninfitfreak/leninkart-infra
DEPLOYMENT_POC_GITOPS_BRANCH=dev
DEPLOYMENT_POC_WORKFLOW_FILE=deploy-from-jira.yml
DEPLOYMENT_POC_TICKET=SCRUM-6
DEPLOYMENT_POC_ARGOCD_APP=frontend-dev
DEPLOYMENT_POC_VALUES_PATH=applications/frontend/helm/values-dev.yaml
DEPLOYMENT_POC_RUNNER_NAME=leninkart-runner
JIRA_TICKET_URL_TEMPLATE=
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=
ARGOCD_USERNAME=admin
ARGOCD_PASSWORD=
VAULT_ROOT_TOKEN=
