PLATFORM_ENV=local
KUBE_NAMESPACE=dev
INGRESS_URL=http://127.0.0.1/
ARGOCD_URL=http://127.0.0.1:8085
VAULT_URL=http://127.0.0.1:8205
GRAFANA_URL=http://127.0.0.1:3000
PROMETHEUS_URL=http://127.0.0.1:9090
LOKI_URL=http://127.0.0.1:3100
TEMPO_URL=http://127.0.0.1:3200
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=
ARGOCD_USERNAME=admin
ARGOCD_PASSWORD=
VAULT_ROOT_TOKEN=
